<h1 mat-dialog-title>{{data.type}}</h1>
<div mat-dialog-content>
  <p>Please provide Information</p>
  <mat-form-field *ngIf="data.type == 'QUESTION' ">
    <textarea matInput placeholder="Question" [(ngModel)]="data.pretext"></textarea>
  </mat-form-field>
  <mat-form-field>
    <textarea matInput placeholder="Input" [(ngModel)]="data.text"></textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial type="button" class="btn btn-primary">Ok</button>
  <button mat-button (click)="onNoClick()" type="button" class="btn btn-default">Cancel</button>
</div>
