<div class="example-container">
    <div
    cdkDropList
    #col1List="cdkDropList"
    [cdkDropListData]="col1"
    [cdkDropListConnectedTo]="[col2List, col3List, col4List]"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <ng-container *ngFor="let item of col1" >
      <app-note-item *ngIf="isType(item, 'NOTE')" [item]="item" cdkDrag></app-note-item>
      <app-question-item *ngIf="isType(item, 'QUESTION')" [item]="item" cdkDrag></app-question-item>
      <app-clock-item *ngIf="isType(item, 'CLOCK')" [item]="item" cdkDrag></app-clock-item>
    </ng-container>
  </div>
</div>

<div class="example-container">
  <div
    cdkDropList
    #col2List="cdkDropList"
    [cdkDropListData]="col2"
    [cdkDropListConnectedTo]="[col1List, col3List, col4List]"
    class="example-list"
    (cdkDropListDropped)="drop($event)" >
      <ng-container *ngFor="let item of col2" >
        <app-note-item *ngIf="isType(item, 'NOTE')" [item]="item" cdkDrag></app-note-item>
        <app-question-item *ngIf="isType(item, 'QUESTION')" [item]="item" cdkDrag></app-question-item>
        <app-clock-item *ngIf="isType(item, 'CLOCK')" [item]="item" cdkDrag></app-clock-item>
      </ng-container>
  </div>
</div>

<div class="example-container">
  <div
    cdkDropList
    #col3List="cdkDropList"
    [cdkDropListData]="col3"
    [cdkDropListConnectedTo]="[col1List, col2List, col4List]"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <ng-container *ngFor="let item of col3" >
      <app-note-item *ngIf="isType(item, 'NOTE')" [item]="item" cdkDrag></app-note-item>
      <app-question-item *ngIf="isType(item, 'QUESTION')" [item]="item" cdkDrag></app-question-item>
      <app-clock-item *ngIf="isType(item, 'CLOCK')" [item]="item" cdkDrag></app-clock-item>
    </ng-container>
  </div>
</div>

<div class="example-container">
  <div
    cdkDropList
    #col4List="cdkDropList"
    [cdkDropListData]="col4"
    [cdkDropListConnectedTo]="[col1List, col2List, col3List]"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <ng-container *ngFor="let item of col4" >
      <app-note-item *ngIf="isType(item, 'NOTE')" [item]="item" cdkDrag></app-note-item>
      <app-question-item *ngIf="isType(item, 'QUESTION')" [item]="item" cdkDrag></app-question-item>
      <app-clock-item *ngIf="isType(item, 'CLOCK')" [item]="item" cdkDrag></app-clock-item>
    </ng-container>
  </div>
</div>
