<!DOCTYPE html>
<html lang="en">
<head>
<title>CSS Template</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<header>
  <p>Cities</p>
</header>

<section>
  
  <nav>
    <ul>
      <li><a href="#">one</a></li>
      <li><a href="#">two</a></li>
      <li><a href="#">three</a></li>
    </ul>
  </nav>

  <article>
    <app-cdk-drag-drop-note></app-cdk-drag-drop-note>
  </article>

</section>

<footer>
  <p>Footer</p>
</footer>

</body>
</html>
