<div class="item-box">
  <div class="tool-bar">
    <button (click)="flip()" id="answer" name="answer" class="glyphicon glyphicon-question-sign"></button>
    <button (click)="editItem('QUESTION')" name="button" class="glyphicon glyphicon-pencil"></button>
    <button (click)="deleteItem()" name="delete" class="glyphicon glyphicon-remove"></button>
  </div>
  <div class="item-body">
    <div *ngIf="!answer">{{ item.pretext }}</div>
    <br>
    <label *ngIf="answer">Answer</label>
    <div *ngIf="answer">{{ item.text }}</div>
  </div>
</div>
